#research-content {
    height: 100%;
}

#research-info {
    right: 30px;
}

.research-label {
    font-weight: bold;
    font-size: 35px;

    margin-top: 30px;
    margin-left: 45%;
    margin-right: auto;
}

.research-icon {
    filter: invert(30%) sepia(69%) saturate(3022%) hue-rotate(210deg) brightness(104%);
}

.tree-wrapper {
    margin-top: 25px
}

.tree-wrapper:last-child {
    margin-bottom: 50px
}

.link {
    fill: none;
    stroke-width: 3px;
}

#close-icon {
    margin-left: 6px;
}

#research-title {
    padding-bottom: 15px;
}

#research-unlock {
    padding-top: 15px;
}

