#research-content {
    height: 100%;
    overflow: scroll;
}

#research-info {
    right: 30px;
}

.research-label {
    font-weight: bold;
    font-size: 35px;

    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

.research-icon {
    filter: invert(30%) sepia(69%) saturate(3022%) hue-rotate(210deg) brightness(104%);
}

.tree-wrapper {
    margin-top: 25px
}

.tree-wrapper:last-child {
    margin-bottom: 50px
}

.link {
    fill: none;
    stroke-width: 3px;
}